.log-in__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  position: relative;

  background-color: #242424;
  /* color: rgba(255, 255, 255, 0.87); */
}