.form__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    /* background-position: center center;
    background-repeat: no-repeat;
    background-size: cover; */
    background-color: #363636;
    position: relative;
}

/* // Source - https://stackoverflow.com/a
// Posted by Ian A
// Retrieved 2026-01-15, License - CC BY-SA 4.0 */
.normal-text,
.normal-text:hover,
.normal-text:visited,
.normal-text:active {
  color: black;
  text-decoration: none;
}

.normal-text:hover{
    cursor: pointer;
}
